{% extends 'base.html' %}

{% block content %}

<h1>Create a new Song</h1>
<form method="POST">
    {{form.hidden_tag()}}

    {% for field in form.errors %}
        <div class="alert alert-danger">{{field}}:
            <ul>
                {% for error in form.errors [field] %}
                <li>
                    {{error}}
                {% endfor %}    
                </li>
            </ul>
        </div>
    {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden' %}

    <div>
        {{field.label(class_='col-sm-2-form-label')}}
        <div>
            {{field(class_="form-control")}}
        </div>
    </div>

    {% endfor %}

    <button class="btn btn-primary">Create Song</button>

</form>

{% endblock %}